include AUTHORS
include LICENSE
include MANIFEST.in
include Makefile
include setup.py
recursive-include doc Makefile *.py *.rst
recursive-include productmd *.py
recursive-include tests *.py
recursive-include tests/treeinfo *
recursive-include tests/discinfo *
recursive-include tests/images *
